.about-section h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 12px;
  width: 100%;
}
.about-section {
  text-align: left;
  max-width: 800px;
  margin: 0 auto 30px auto;
  width: 100%;
}
