.edit-btn {
  background: #f28a2e; /* filled orange */
  border: none;
  border-radius: 6px;
  padding: 10px 40px;
  font-size: 1em;
  color: #000000;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.15s;
  display: block;
  margin: 20px auto 0 auto;
  max-width: 800px;
  width: 20%;
}
.edit-btn:hover {
  background: #d56f24; /* slightly darker on hover */
}
