* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f0f0f0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
