.save-btn {
  padding: 12px 0;
  background: #d3d3d3;
  color: #222;
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
  margin-top: 24px;
  transition: background 0.2s;
  max-width: 800px;
  width: 27.8%;
}
.save-btn:hover {
  background: #bdbdbd;
}
