.header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #aaa;
  display: inline-block;
}
.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}
